* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

ol[class^="level-"] {
    list-style-type: none;
}
ol[class^="level-"] li {
   position: relative;
}
ol[class^="level-"] li::before {
   position: absolute;
   left: 0;
}

ol.level-1 > li {
    counter-increment: level1;
    margin-bottom: 10px;
    padding-left: 40px;
    font-weight: bold;
}

ol.level-1 > li * { font-weight: normal; }

ol.level-1 > li::before {
    content: counter(level1) ".";
}

ol.level-2 {
    counter-reset: level2;
    margin-top: 10px;
    margin-left: -40px
}
ol.level-2 > li {
    counter-increment: level2;
    padding-left: 40px;
    margin-bottom: 10px;
}
ol.level-2 > li::before {
    content: counter(level1) "." counter(level2);
}

ol.level-3 {
    counter-reset: level3;
    margin-top: 10px;
}
ol.level-3 > li {
    counter-increment: level3;
    padding-left: 30px;
    margin-bottom: 10px;
}
ol.level-3 > li::before {
    content: "(" counter(level3, lower-alpha) ")";
}

ol.level-4 {
    counter-reset: level4;
    margin-top: 10px;
}
ol.level-4 > li {
    counter-increment: level4;
    padding-left: 30px;
    margin-bottom: 10px;
}
ol.level-4 > li::before {
    content: "(" counter(level4, lower-roman) ")";
}